--
-- PostgreSQL database dump
--

\restrict 9WE4Xcn9d6PcW4aIqcRSpnrcaq41vcJNiXI5A2vjAlYDeEndStXHeZ0TZvHWfLV

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AccountStatus; Type: TYPE; Schema: public; Owner: seo_user
--

CREATE TYPE public."AccountStatus" AS ENUM (
    'CONNECTED',
    'NO_ACCESS',
    'DISCONNECTED'
);


ALTER TYPE public."AccountStatus" OWNER TO seo_user;

--
-- Name: ConnectedService; Type: TYPE; Schema: public; Owner: seo_user
--

CREATE TYPE public."ConnectedService" AS ENUM (
    'YANDEX_METRIKA',
    'YANDEX_DIRECT',
    'YANDEX_WEBMASTER',
    'GOOGLE_ANALYTICS',
    'GOOGLE_ADS',
    'GOOGLE_SEARCH_CONSOLE',
    'VK_ADS',
    'FACEBOOK',
    'BITRIX24'
);


ALTER TYPE public."ConnectedService" OWNER TO seo_user;

--
-- Name: ReportStatus; Type: TYPE; Schema: public; Owner: seo_user
--

CREATE TYPE public."ReportStatus" AS ENUM (
    'GENERATING',
    'READY',
    'ERROR'
);


ALTER TYPE public."ReportStatus" OWNER TO seo_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: seo_user
--

CREATE TYPE public."Role" AS ENUM (
    'OWNER',
    'ADMIN',
    'MEMBER'
);


ALTER TYPE public."Role" OWNER TO seo_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccountSettings; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."AccountSettings" (
    id text NOT NULL,
    "topvisorUserId" text,
    "topvisorApiKey" text,
    "whiteLabelDomain" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AccountSettings" OWNER TO seo_user;

--
-- Name: ConnectedAccount; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."ConnectedAccount" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    service public."ConnectedService" NOT NULL,
    "accessToken" text NOT NULL,
    "refreshToken" text,
    "expiresAt" timestamp(3) without time zone,
    status public."AccountStatus" DEFAULT 'CONNECTED'::public."AccountStatus" NOT NULL,
    "connectedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ConnectedAccount" OWNER TO seo_user;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    "metrikaCounterId" integer NOT NULL,
    name text NOT NULL,
    url text NOT NULL,
    "connectedAccountId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Project" OWNER TO seo_user;

--
-- Name: Report; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."Report" (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    "projectId" text NOT NULL,
    "templateId" text,
    "createdById" text NOT NULL,
    "dateFrom" timestamp(3) without time zone NOT NULL,
    "dateTo" timestamp(3) without time zone NOT NULL,
    "compareFrom" timestamp(3) without time zone,
    "compareTo" timestamp(3) without time zone,
    "reportConfig" jsonb NOT NULL,
    "snapshotData" jsonb,
    "pdfPath" text,
    status public."ReportStatus" DEFAULT 'GENERATING'::public."ReportStatus" NOT NULL,
    "generatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    attribution text DEFAULT 'lastsign'::text NOT NULL,
    "crossDevice" boolean DEFAULT false NOT NULL,
    "withRobots" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Report" OWNER TO seo_user;

--
-- Name: Template; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."Template" (
    id text NOT NULL,
    name text NOT NULL,
    "blocksConfig" jsonb NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Template" OWNER TO seo_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text,
    role public."Role" DEFAULT 'MEMBER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO seo_user;

--
-- Name: WorkTemplate; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public."WorkTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."WorkTemplate" OWNER TO seo_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: seo_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO seo_user;

--
-- Data for Name: AccountSettings; Type: TABLE DATA; Schema: public; Owner: seo_user
--

COPY public."AccountSettings" (id, "topvisorUserId", "topvisorApiKey", "whiteLabelDomain", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ConnectedAccount; Type: TABLE DATA; Schema: public; Owner: seo_user
--



--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: seo_user
--

COPY public."Project" (id, "metrikaCounterId", name, url, "connectedAccountId", "createdAt") FROM stdin;
cmocdyg9a00028ktx0yh9pwp0	22537453	╨Р╤В╨▓╨╕╨╜╤В╨░	https://atwinta.ru	cmocdmdal00008ktxlvr844dt	2026-04-24 04:03:42.671
\.


--
-- Data for Name: Report; Type: TABLE DATA; Schema: public; Owner: seo_user
--



--
-- Data for Name: Template; Type: TABLE DATA; Schema: public; Owner: seo_user
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: seo_user
--

COPY public."User" (id, email, "passwordHash", name, role, "createdAt") FROM stdin;
cmo8v1ijh00000otxxk2yzy69	admin@agency.ru	$2b$12$06UgK3/16EmRQUiB61tV3OmR7Nm3K.4p0fnwXjzzl6B0zLL.YlWue	Admin	OWNER	2026-04-21 16:50:54.365
\.


--
-- Data for Name: WorkTemplate; Type: TABLE DATA; Schema: public; Owner: seo_user
--

COPY public."WorkTemplate" (id, name, content, "createdAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: seo_user
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
e9d4ab21-d941-48f3-aee7-87f9078064ed	7c40f5b249d070ad4bad0f2cbba2845f60f07ef7d8e77a255d64cf9b05518572	2026-04-21 20:09:48.024961+07	20260421130947_init	\N	\N	2026-04-21 20:09:47.898119+07	1
067849bd-6be6-4789-84ea-7894724cd1e0	a31a3a15e0e980a11b8453a1ef577c202644d0e95ae6c1275d8b5a490732be45	2026-04-24 16:27:35.381946+07	20260424092735_add_report_settings	\N	\N	2026-04-24 16:27:35.312796+07	1
\.


--
-- Name: AccountSettings AccountSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."AccountSettings"
    ADD CONSTRAINT "AccountSettings_pkey" PRIMARY KEY (id);


--
-- Name: ConnectedAccount ConnectedAccount_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."ConnectedAccount"
    ADD CONSTRAINT "ConnectedAccount_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: Report Report_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_pkey" PRIMARY KEY (id);


--
-- Name: Template Template_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Template"
    ADD CONSTRAINT "Template_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorkTemplate WorkTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."WorkTemplate"
    ADD CONSTRAINT "WorkTemplate_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ConnectedAccount_email_service_key; Type: INDEX; Schema: public; Owner: seo_user
--

CREATE UNIQUE INDEX "ConnectedAccount_email_service_key" ON public."ConnectedAccount" USING btree (email, service);


--
-- Name: Project_metrikaCounterId_key; Type: INDEX; Schema: public; Owner: seo_user
--

CREATE UNIQUE INDEX "Project_metrikaCounterId_key" ON public."Project" USING btree ("metrikaCounterId");


--
-- Name: Report_projectId_createdAt_idx; Type: INDEX; Schema: public; Owner: seo_user
--

CREATE INDEX "Report_projectId_createdAt_idx" ON public."Report" USING btree ("projectId", "createdAt");


--
-- Name: Report_slug_key; Type: INDEX; Schema: public; Owner: seo_user
--

CREATE UNIQUE INDEX "Report_slug_key" ON public."Report" USING btree (slug);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: seo_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Project Project_connectedAccountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_connectedAccountId_fkey" FOREIGN KEY ("connectedAccountId") REFERENCES public."ConnectedAccount"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Report Report_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: seo_user
--

ALTER TABLE ONLY public."Report"
    ADD CONSTRAINT "Report_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."Template"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO seo_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 9WE4Xcn9d6PcW4aIqcRSpnrcaq41vcJNiXI5A2vjAlYDeEndStXHeZ0TZvHWfLV

